@import '../src/assets/scss/var.scss';
@import '../src/assets/scss/styles.scss';

.t-textbox {
    display: inline-block;
    padding: 7px 20px;
	border-radius: 25px;
    background-color: $app-border;
    border-color: $app-border;
    font-size: larger;
    color: $app-text;
    &:hover {
        background-color: $app-border; 
        border-color: $app-border;
    }
    &:focus {
        background-color: $app-border; 
        border-color: $app-border;
        color: $app-text;
    }
}

.t-favicon{
    color: $app-border;
    border: $app-theme;
    padding-top:10px; 
}

.t-top-nav-explore {
    display: flex;
    flex-direction: row;
}