.react-autosuggest__container {
    position: relative;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  
.react-autosuggest__input {
    width: -webkit-fill-available;
    height: 40px;
    padding: 10px 10px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 22px;
  }
  
.react-autosuggest__input--focused {
    outline: none;
  }
  
.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
.react-autosuggest__suggestions-container {
    display: none;
  }
  
.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 51px;
    width: -webkit-fill-available;
    border: 1px solid #aaa;
    background-color:   $app-bg;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
  }
  
.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
  }
  
.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}


.t-no-padding{
padding: 0;
}
.t-find-better-way{
  padding: 1.9rem;
}