.t-app-container {
     display: flex;
     height: 100vh;

    .t-main-container {
        flex: 1;
        position: relative;

        .t-main-content {
            height: 100vh;
            overflow: auto; 
        }
    }
}