$app-bg : rgb(21, 32, 43);
$app-text: rgb(255, 255, 255);
$app-secondary-text: rgb(136, 153, 166);
$app-border: rgb(56, 68, 77);
$app-line-color: rgb(61, 84, 102);

$app-theme: #00acee;
$app-theme-red: rgb(224, 36, 94);
$app-theme-green: rgb(23, 191, 99);


$app-danger: red;
$app-success: green;
$app-warning: orange;


